.navbar-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border:.1px solid red;
    background-color: aqua;
}

li{
    display: block;
    padding: 3px 5px;
    border-radius: 2px;
}

li:hover{
    background-color:#001510;
    color:#7D7D7D;
}
